@model Introduccion_C_.Models.MultiplicacionSuma

@{
    ViewBag.Title = "Multiplicacion por suma";
}

<h2>Multiplicacion por suma</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form method="post" action="/Multiplicacion/Index">
                <div class="mb-3">
                    <label class="form-label">Numero A:</label>
                    <input type="number" class="form-control" name="NumA" required />
                </div>
                <div class="mb-3">
                    <label class="form-label"> Numero B:</label>
                    <input type="number" class="form-control" name="NumB" required />
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Calcular</button>
            </form>
            <br />
            <div class="alert alert-danger mt-3">
                Resultado:
                @Html.DisplayFor(model => model.Resultado)
            </div>
            <div class="alert alert-success mt-3">
                Operacion:
                @Html.DisplayFor(model => model.Proceso)
            </div>
        </div>
    </div>
</div>